body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgba(1, 63, 1, 0.918);
    background-color: rgb(182, 182, 182);
}